a {
    text-decoration: none;
    color: black;
    text-decoration: none;
}

header {
    background-color: #ffd700;
    /* height: 10.8rem; */
    /* height: 170px; */
    height: 11rem;
    color: #000000;
    display: grid;
    padding: 10px;
    grid-template-columns: auto;
    justify-content: center;
}

.headder_title {
    display: inline-flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
    font-family: invas;
    text-align: start;
    flex-direction: column;
    font-weight: bolder;
    /* margin: 0rem 14.7rem; */
}

.i {
    font-size: 7.5rem;
    height: 70px;
    position: relative;
    top: -3.5rem;
    letter-spacing: 9px;
}

.u {
    font-size: 2rem;
    margin: 0%;
}

.tg {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tog {
    display: block;
    border: none;
    background-color: #ffd700;
    position: relative;
    top: 20px;
    max-width: 60px;
    max-height: 60px;
    display: none;
}

.btns {
    display: flex;
    justify-content: space-around;
}

.a {
    display: block;
    width: fit-content;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    padding: 0px 10px;
    font-style: bold;
}

.a span {
    position: relative;
    z-index: 2;
}

.a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #000000c1;
    transition: all .35s;
}

.a:hover {
    color: #fff;
}

.a:hover:after {
    width: 100%;
}