* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: invas; */

}

@font-face {
    font-family: 'invas';
    src: url(/font.ttf);
}


body {
    background-color: #fada24;
    background-color: #000000;
    padding: 0%;
}